.btn-custom {
  color: #fff;
  background: $brand-primary;
  border: 1px solid $brand-primary;
  display: inline-block;
  margin-bottom: 0px;
  font-weight: 700;
  font-family: 'Trade Gothic W04', Arial, Helvetica, sans-serif;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  white-space: normal;
  padding: 9px 10px;
  font-size: 14px;
  line-height: 1.428571429;

  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 3px;

  /* Firefox 1-3.6 */
  -moz-border-radius: 3px;

  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 3px;
}

.btn-custom:hover,
.btn-custom:active,
.btn-custom:visited {
  color: #fff;
  text-decoration: none;
}

.btn-custom-default:hover,
.btn-custom-default:active {
  color: #fff;
  text-decoration: none;
  background: $brand-primary-80;
  box-shadow: none;
}