//@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=0316e23b-3f8a-4091-817e-545497e627a6");
@font-face {

  font-family: "Trade Gothic W01_n1";
  src: url("/assets/fonts/vendor/tradegothic/1d699af3-0e50-4c4b-a343-42d071e85714.eot?#iefix") format("eot")

}

@font-face {

  font-family: "Trade Gothic W01";
  src: url("/assets/fonts/vendor/tradegothic/1d699af3-0e50-4c4b-a343-42d071e85714.eot?#iefix");

  src: url("/assets/fonts/vendor/tradegothic/1d699af3-0e50-4c4b-a343-42d071e85714.eot?#iefix") format("eot"), url("/assets/fonts/vendor/tradegothic/5414f75e-5cb8-4357-88e5-5a294424c859.woff2") format("woff2"), url("/assets/fonts/vendor/tradegothic/537b145a-6a7d-4787-81d9-7228d3a42458.woff") format("woff"), url("/assets/fonts/vendor/tradegothic/8e50278c-45cd-4808-b774-24767d958f17.ttf") format("truetype"), url("/assets/fonts/vendor/tradegothic/d918b947-5fcb-42e2-8286-a98a801876de.svg#d918b947-5fcb-42e2-8286-a98a801876de") format("svg");

  font-weight: 100;
  font-style: normal;
}

@font-face {

  font-family: "Trade Gothic W01_n7";
  src: url("/assets/fonts/vendor/tradegothic/bb3aa0a7-2585-4e89-ad82-658fd561751a.eot?#iefix") format("eot")

}

@font-face {

  font-family: "Trade Gothic W01";
  src: url("/assets/fonts/vendor/tradegothic/bb3aa0a7-2585-4e89-ad82-658fd561751a.eot?#iefix");

  src: url("/assets/fonts/vendor/tradegothic/bb3aa0a7-2585-4e89-ad82-658fd561751a.eot?#iefix") format("eot"), url("/assets/fonts/vendor/tradegothic/7bb1c0cb-e6e9-44ea-ae0c-1984ad7e3339.woff2") format("woff2"), url("/assets/fonts/vendor/tradegothic/1454a71d-cdbb-429c-8092-122f4493e0c7.woff") format("woff"), url("/assets/fonts/vendor/tradegothic/d5ea405c-2180-4ff0-bd51-3e19fb280be4.ttf") format("truetype"), url("/assets/fonts/vendor/tradegothic/70ac6679-cf48-4a0e-a909-d1e3bb4a1aa9.svg#70ac6679-cf48-4a0e-a909-d1e3bb4a1aa9") format("svg");

  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'fontello';
  src: url('/assets/fonts/vendor/fontello/font/fontello.eot?61004238');
  src: url('/assets/fonts/vendor/fontello/font/fontello.eot?61004238#iefix') format('embedded-opentype'),
  url('/assets/fonts/vendor/fontello/font/fontello.woff?61004238') format('woff'),
  url('/assets/fonts/vendor/fontello/font/fontello.ttf?61004238') format('truetype'),
  url('/assets/fonts/vendor/fontello/font/fontello.svg?61004238#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}