// Footer Section
.footer {
  color: #ffffff;

  // Footer Social Icons
  .footer-social {

    background-color: #6d6d6d;
    position: relative;
    width: 100%;
    text-align: center;
  }

  // Footer Links
  .footer-main {

    background-color: $gray-dark;
    padding: 35px 0;

    @extend .row;

    .footer-main__logo {
      @extend .col-md-6;
      text-align: center;

      img {
        width: 120px;
        float: none;
      }
    }

    .footer-main__address {
      @extend .col-md-6;
      text-align: center;
      font-size: $font-size-medium;
      padding: 20px;
    }
  }

  // Footer Terms at page bottom

  .footer-terms {
    @extend .row;
    background-color: #2f2f2f;
    text-align: center;
    padding: 20px;
    font-size: small;

    .footer-terms__term-links {
      @extend .col-md-6;

      ul {
        list-style: none;
        padding: 0;
        margin-bottom: 0;

        li {
          display: inline-block;
          margin-right: 20px;

          a {
            color: #fff;
            text-decoration: none;
            &:hover {
              color: $brand-primary;
            }
          }
        }
      }
    }

    .footer-terms__copyright {
      @extend .col-md-6;
      padding-top: $padding-base;
    }
  }

  // BREAKPOINTS //
  @include breakpoint (fromMedium) {
    .footer-main {
      .footer-main__address {
        padding: 0;
      }
    }
  }
}