// Hero Section
.hero {
  //border:1px orange dashed;
  margin-top: 80px;
  position: relative;
  color: #fff;

  width: 100%;
  background: $brand-primary;
  text-align: center;

  .hero-main {
    @extend .container;

    .hero-main__row {
      @extend .row;
      padding-top: $padding-base;
      text-align: center;

      .hero-main__col {
        @extend .col-xs-12;
        padding-bottom: $padding-medium;

        .hero__header--xs {
          line-height: 32px;
          text-align: left;
        }

        .hero__header--lg {
          font-size: $font-size-h1*2;
        }

        h1 {
          font-weight: 700;
        }

        span.tagline-1 {
          font-size: $font-size-base;
          font-family: $heading-font-family;
          display: block;
          margin-top: $margin-medium;
        }

        span.tagline-2 {
          font-size: $font-size-base;
          font-family: $heading-font-family;
          display: block;
          margin-top: $padding-base;
        }

      }
    }
  }

  //  Breakpoints

  @include breakpoint (fromMedium) {

  }

  @include breakpoint (fromLarge) {
  }
}
