// Hero Section
.hero {
  margin-top: 80px;
  position: relative;
  color: #fff;

  width: 100%;
  background: $brand-primary;
  text-align: center;

  .hero-main {
    @extend .container;
    padding-top: 0;

    .hero-main__row {
      @extend .row;
      padding-top: $padding-base;

      .hero-main__img {
        text-align: center;
        img {
          width: 50%;
        }
      }

      .hero-main__col {
        padding-top: $padding-base;
        padding-bottom: 0;

        .hero__header {
          font-size: $font-size-h1;
        }

        h1 {
          font-weight: 100;
        }

        span.tagline-1 {
          font-size: $font-size-base*1.375;
          font-family: $heading-font-family;
          display: block;
          line-height: 44px;
          font-weight: 700;
        }
      }
    }
  }

  //  Breakpoints

  @include breakpoint (fromMedium) {

    text-align: left;

    .hero-main {
      padding-top: $padding-medium;

      .hero-main__row {

        .hero-main__img {
          img {
            width: 280px;
          }
        }

        .hero-main__col {
          padding-bottom: $padding-base;

          .hero__header {
            font-size: $font-size-h1*1.5;
            width: 400px;
          }

          span.tagline-1 {
            font-size: $font-size-base*2.1;
            line-height: 80px;
          }
        }
      }
    }
  }

  @include breakpoint (fromLarge) {
  }
}
