.resources {
  padding-bottom: $padding-large;

  &__main {
    @extend .container;
  }

  .resources__header {
    @extend .row;
    text-align: center;
    padding: 0 $padding-base;
  }

  .resources__content {
    @extend .container;
  }

  .resources__text {
    width: 100%;
    text-align: center;
  }

  .resources__list {
    @extend .col-md-12;

    li {
      padding-left: 0;
      padding-right: 0;
    }
  }

// Breakpoints
  @include breakpoint (fromMedium) {
    .resources__header {
      padding: 0;
    }

    .resources__list {
      width: 50%;
      float: left;
      padding-left: $padding-base;
      padding-right: $padding-base;
    }
  }
}