.research {

  width: 100%;
  padding: 40px;
  background: $aat-lightgrey;

  .research__main {
    @extend .container;
  }

  .research__header {
    @extend .row;
    text-align: center;
    margin-bottom: 10px;
  }

  .research__content {
    @extend .row;
  }

  .research__text {
    @extend .col-md-6;

  }

  @media (min-width: $breakpoint-desktop) {
  }

}