.intro {
  //background: $bgd-primary;

  &__contain {
    @extend .container;

    &--inner {
      padding: $padding-medium 0;
      background: #fff;
      border: 1px solid $border;
      max-width: 60em;
      margin: auto;
      overflow: auto;
      text-align: center;

      .intro__text {
        @extend .col-md-6;
      }

      .intro__video {
        @extend .col-md-6;
      }

    }
  }

  @include breakpoint (fromMedium) {
    .intro__contain {
      .intro__contain--inner {
        padding: $padding-medium $padding-base;
        text-align: left;
      }
    }
  }
}

