// Reasons Section
.reasons {

  width: 100%;
  background: $bgd-secondary;
  padding: $padding-base;

  .reasons__main {
    @extend .container;
  }

  .reasons__header {
    text-align: center;
  }

  .reasons__content {
    @extend .row;
    p {
      text-align: center;
      padding: 0;
    }

    .reasons__sub-header {
      text-align: center;
      padding-top: $padding-medium;
    }
  }

  .reasons__item-list {

    @extend .col-md-6;

    ul {
      list-style: none;
      //      list-style-image: none;
      padding: 0;
      margin: 25px 0;

      li {
        margin-bottom: 15px;
        position: relative;
        padding: 0 30px 30px 34px;
        vertical-align: baseline;
        height: 100%;

        h2 {
          padding-left: 0;
          //        font-size: 1.1em;

        }

        p {
          text-align: left;
          padding: 0;
          height: auto;

        }

        i.reasons-fa {
          position: absolute;
          left: 0;
          top: 0;
          font-size: 26px;
        }
      }
    }
  }

  // Breakpoints
  @include breakpoint (fromMedium) {
    padding: $padding-medium;

    .reasons__content {
      p {
        padding: 0 $padding-base*10;
      }
    }

    .reasons__item-list {
      ul {
        li {
          height: 100px;
        }
      }
    }
  }
}
