.resources {
  padding-bottom: $padding-large;

  &__main {
    @extend .container;
  }

  .resources__header {
    @extend .row;
    text-align: center;
  }

  .resources__content {
    @extend .container;
  }

  .resources__text {
    @extend .col-sm-12;
    text-align: center;
  }

  .resources__list {
    margin-left: 0;
    margin-right: 0;

    li {
      @extend .col-sm-6;
      padding-left: 0;
      padding-right: 0;
    }
  }

// Breakpoints
  @include breakpoint (fromMedium) {
    .resources__list {
      margin-left: $margin-base;
      margin-right: $margin-base;
    }
  }
}