// Reasons Section
.reasons {

  width: 100%;
  background: $bgd-secondary;
  padding: 40px;

  .reasons__main {
    @extend .container;
  }

  .reasons__header {
    text-align: center;
  }

  .reasons__content {
    @extend .row;
    p {
      text-align: center;
      padding: 0 $padding-large*3;
    }

    .reasons__sub-header {
      text-align: center;
    }
  }

  .reasons__item-list {

    @extend .col-md-6;

    ul {
      list-style: none;
      //      list-style-image: none;
      padding: 0;
      margin: 25px 0;

      li {
        margin-bottom: 15px;
        position: relative;
        padding: 0 0 30px 34px;
        vertical-align: baseline;

        h2 {
          padding-left: 0;
          //        font-size: 1.1em;

        }

        p {
          text-align: left;
          padding: 0;
          height: auto;

        }

        i.reasons-fa {
          position: absolute;
          left: 0;
          top: 0;
          font-size: 26px;
        }
      }
    }
  }

  // Breakpoints
  @include breakpoint (fromMedium) {

  }
}
