.qualifications {

  width: 100%;
  padding: 40px;

  .qualifications__main {
    @extend .container;
  }

  .qualifications__header {
  }

  .qualifications__content {
    @extend .row;
  }

  .qualifications__text {
    @extend .col-md-3;
  }

  .qualifications__button {
    @extend .row;
    text-align: left;
    padding: 30px 0;
  }

  .qualifications__case-study {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }

  h3 {
    font-weight: 700;
    font-family: 'Trade Gothic W04', Arial, Helvetica, sans-serif;
  }

  .qualifications__case-study {

//    width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 25px;
    margin-top: 25px;

    .qualifications__study-img {
      margin-top: 15px;

      img {
        border-radius: 50%;
        width: 36%;
        display: block;
        margin: 0 auto;

      }
    }

    figure.quote {

      .blockquote-text {
      }

      figcaption {
        font-family: 'Trade Gothic W04', Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        padding-top: 15px;
      }

    }
  }

  @media (min-width: $breakpoint-tablet) {
    .qualifications__study-img {
      img {
        width: 42%;
      }
    }
  }

  @media (min-width: $breakpoint-desktop) {

    .qualifications__button {
      text-align: center;
    }

    .qualifications__case-study {
      width: 50%;

      .qualifications__study-img {
        img {
          width: 30%;
        }
      }
    }
  }

}