.top-nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  border-bottom: 1px #e5e5e5 solid;
  background-color: #fff;
  height: 80px;
  padding: 0 20px;
  width: 100%;

  .logo {
    float: left;
    width: 40%;
    height: 100%;
  }

  .top-nav__infopack-button {
    text-align: right;
    padding-top: 22px;
    float: right;
    width: 60%;
    height: 100%;
  }
}

