$breakpoint-tablet: $screen-xs-min;
$breakpoint-desktop: $screen-md-min;

// Colours
$aat-primary : #00AB4E;
$aat-secondary : #00BB9D;
$aat-tertiary : #007C81;
$aat-quaternary : #FFC723;
$aat-quinary : #880060;

$aat-cta-primary : $aat-primary;
$aat-cta-secondary : #d07100;

$aat-lightgrey : #eeeeee;