@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "normalize";
@import "variables";
@import "mixins";
@import "colours";
@import "font-size";
@import "typography";
@import "hero";
@import "fonts";
@import "top-nav";

// Sections
@import "sections";
@import "section_intro";
@import "section_reasons";
@import "section_levy";
@import "section_casestudies";
@import "section_lead-gen";
@import "section_resources";

@import "links";
@import "media";
@import "buttons";
@import "social";
@import "blockquote";
@import "footer";

html, body {
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
  overflow-x: hidden;
}
